.content {
  height: 100%;
  display: grid;
  align-items: center;
}

.create-content {
  height: initial;
}

.form {
  max-width: 400px;
  border-top: 5px solid var(--primary-500);
}

.form-row {
  margin-top: 1rem;
}

.form-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.4rem;
  width: 70%;
}

.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-btn {
  margin-top: 1rem;
}

.already-member {
  margin-top: 1rem;
  text-align: center;
  letter-spacing: var(--letter-spacing);
}

.already-member a {
  color: var(--primary-300);
  margin-left: 0.5rem;
}
