.notification {
  /* margin-bottom: 2rem; */
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 25%;
  box-shadow: var(--shadow-2);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification p {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
  width: 100%;
}
