.menu {
  position: sticky;
  top: 0;
  z-index: 998;
  padding: 1rem;
  width: 100vw;
  min-width: 320px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
}

.menu-items {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-items a {
  font-weight: 700;
  color: var(--text-color);
  transition: var(--transition);
}

.menu-items a:hover {
  transform: translateY(-10px);
  color: var(--primary-500);
}

.menu-items a.active {
  color: var(--primary-500);
  border-bottom: 2px solid var(--primary-500);
}

@media (width < 768px) {
  .menu-items {
    width: 100%;
  }
}
